.next
.cache
package-lock.json
public
node_modules
yarn.lock
deploy
deploy/
/deploy/
**/deploy/**
/deploy/**/
**/.angular
**/.github
**/.vscode
**/coverage
**/dist
.idea
**/libs/shared/theme
**/node_modules

