<form class="overflow-hidden sm:rounded-md" [formGroup]="form">
  <mat-select formControlName="bagManagement" placeholder="Seleccione el teléfono " #singleSelect
              class="input_global">
    <mat-option>
      <ngx-mat-select-search formControlName="bankFilterCtrl" placeholderLabel="Buscar"></ngx-mat-select-search>
    </mat-option>

    <mat-option *ngFor="let phone of filteredPhones | async" [value]="phone" (click)="itemSelected(phone)">
      {{phone.descripcion}}
    </mat-option>
  </mat-select>
</form>
