<div id="popup-modal" tabindex="-1" [class.hidden]="!showModal"
     class="h-screen w-full fixed left-0 top-0 flex justify-center items-center bg-blue-600 bg-opacity-50">
  <div class="relative w-full max-w-md h-full md:h-auto sm:mt-10 xs:mt-10 ">
    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
      <div class="p-6 text-center  ">
        <div class="flex justify-center my-0">
          <app-svg-importer classes="{{'fill-yellow-300 w-10 h-10 mt-3'}}" iconName="Alerta_1Light"></app-svg-importer>
        </div>
        <h3 class="label_global mb-5 text-lg text-blue-600 dark:text-gray-400 mt-2">{{dataText}}</h3>
        <div class="flex justify-end mt-8">
          <button data-modal-toggle="popup-modal" type="button" class="btn_primary_global mx-2" (click)="response()">
            Aceptar
          </button>
          <button type="button" class="btn_secondary_global mx-2" (click)="toggleModal()">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
</div>
