<section class="flex items-center my-24 dark:bg-gray-900 dark:text-gray-100">
  <div class="container flex flex-col items-center justify-center mx-auto">
    <div class="max-w-auto text-center">
      <h2 class="mb-8 font-extrabold text-6xl text-blue-300 dark:blue-gray-600">
        <span class="sr-only">Error</span>¡Ups! Error<span class="mb-8 font-extrabold text-6xl text-magenta-300"> 404</span>
      </h2>
      <p class="text-xl font-semibold md:text-3xl text-blue-600">Parece que te has perdido o que no hemos localizado lo
        que estabas buscando.</p>
      <p class="mt-4 mb-8  text-blue-600">Por favor, revisa la dirección de la página por si existe una errata. Si
        sigues sin poder acceder a ella, te proponemos que des selecciones una de las opciones del menu lateral:</p>
      <a rel="noopener noreferrer" href="#" class="px-8 py-3 font-semibold rounded text-blue-300">Back to homepage</a>
    </div>
  </div>
</section>
