<div class="flex flex-wrap-reverse justify-start space-x-2 mt-4 ml-2" *ngFor="let item of listIdentifications; index as i">
            <span
              class="px-4 py-2 rounded-full text-blue-600 border border-gray-300 text-sm flex align-center w-max cursor-pointer active:bg-gray-300 transition duration-300 ease">
              {{item}}
    <button class="bg-transparent hover focus:outline-none" (click)="deleteItem(item)">
      <div class="flex ml-2">
        <app-svg-importer classes="fill-blue-300 w-2.5" [iconName]="'Cerrar_1Light'"></app-svg-importer>
      </div>
    </button>
  </span>
</div>

