<!-- Component Start -->
<aside class="flex flex-col items-center overflow-hidden bg-currentColor w-full h-full">
  <!-- LOGO y título -->
  <a class="flex items-center w-full px-3 mt-1 justify-center">
    <app-svg-importer [classes]="'fill-blue-300 w-24 h-24'" [iconName]="'movistar-icon'"></app-svg-importer>
  </a>
  <a class="flex items-center w-full h-12 px-3 mt-2 justify-center">
    <span class="ml-2 text-lg font-bold text-secondaryColor">Gestión De Bolsas</span>
  </a>
  <!-- menu items: opciones -->
  <div class="w-full px-2">
    <div class="flex flex-col items-center w-full mt-3">

      <mat-list *ngFor="let item of opcionesMenu" class="w-full">
        <mat-list-item
          class="fill-blue-300 text-blue-300 hover:bg-gray-200 flex items-center w-full h-12 px-3 mt-2 rounded-xl cursor-pointer"
          [routerLinkActive]="['bg-blue-300', 'text-white','fill-white']"
          [routerLink]="[item.route]" *ngIf="item.isActive">
          <app-svg-importer classes="{{'w-4 h-4'}}" [iconName]="item.icon"></app-svg-importer>
          <span class="ml-2 text-sm font-medium">{{item.name}}</span>
        </mat-list-item>
      </mat-list>

    </div>
  </div>

  <div class="flex flex-col items-center w-full px-3 mt-2 justify-end text-center h-full space-y-1 py-2">
    <button
      class="bg-secondaryColor text-white active:bg-secondaryColor font-bold uppercase text-sm px-6 py-3 rounded-xl shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
      type="button" (click)="logoutWithAD()">
      Cerrar Sesión
    </button>
    <span class="text-center ml-2 text-xs font-bold text-gray-400">© {{year}} Telefonica</span>
    <span class="text-center ml-2 text-xs font-extralight text-gray-400">Todos los derechos reservados</span>
    <span class="text-center ml-2 text-xs font-extralight text-gray-400">Version 1.0.0</span>
  </div>
</aside>
<!-- Component End  -->
